.sidebar{
    background-color:rgb(3,77 , 102) ;
    z-index: 100;
    width: 200px;
    float: left;
    height: calc(100vh - 63px);
    display:flex;
    flex-direction: column;
}
.sidebar span{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    font-size: larger;
}
.sidebar #bottom{
    position:absolute;
    bottom: 15px;
    left: 70px;
}
.notSelected{
    border:none;
}
.Selected{
    box-sizing: border-box;
    background-color:rgb(52 67 94);
    border: solid rgb(34,88,132);
    border-top:none;

}
#homebutton,#mytaskbutton{
    box-sizing: border-box;
}
#homebutton{
    border-bottom: solid rgb(34,88,132);
}
@media screen and (max-width: 930px){
    .sidebar{
        width: 100vw;
        height: 50px;
        float: none;
        flex-direction: row;
        align-items: center;
    }
    .sidebar #bottom{
        position: static;
        float: right;
    }
    .sidebar span{
        width: 100%;
        // height: 100%;
        padding: 5px 25px;
    }
}
@media screen and (max-width: 415px){
    .sidebar{
        height: auto;
        display: block;
    }
    .sidebar span{
        text-align: center;
        line-height: 40px;
        display: block;
        width: 100%;
    }
    .sidebar #bottom{
        display: none;
    }
}