#homepage{
    margin: 15px;
}
#Dashboard{
    font-size: 25px;
}
.completed{
    color: rgb(54, 201, 59);
}
#taskSummaryContainer{
    display:flex;
    justify-content:center;
    margin: 30px;
}
#taskSummary{
    display: flex;
    justify-content:space-between;
}
#message{
    font-size: 40px;
    text-align: center;
}
.centertext{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#selectbox{
    font-size: medium;
    padding: 10px;
    border: none;
}
#selectbox:focus{
    outline: none;
}

@media screen and (max-Width:415px){
    #Dashboard{
        text-align: center;
    }
    #taskSummary{
        display: block;
    }
    #taskSummaryContainer{
        margin: 10px;
    }
    #message{
        font-size: 30px;
    }
    
}

