
<div  class="centertext" >{{TaskType}}<span class="material-icons icon" (click)="openTaskPage()">add_task</span></div>
<div *ngFor="let task of filterByAge" id="tasklist">
    <app-task-display  [task]="task" (markAsCompleteEvent)="markAsComplete(task.id)"></app-task-display>
</div>

<!-- new task page -->
<div id="newTaskPage" [ngClass]="formStatus">
    <div id="newTaskForm">
        <div style="font-size: 20px;">New Task</div>
        <br>
        <hr style="margin-bottom:10px ;">
        
        <form action="" >
            <label for="title">Title</label>
            <br>
            <input type="text" id="title" name="title" [(ngModel)]="taskTitle">
            <br>
            <label for="description">Description</label>
            <br>
            <input type="text" id="description" name="title" [(ngModel)]="taskDescription">
            <br>
            <label for="priority">Priority</label>
            <br>
            <select id="priority" name="title" [(ngModel)]="taskPriority">
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
            <br>
            </select>
            <br>
            <label for="due">Due</label >
            <br>
            <input type="date" id="due" name="title" [(ngModel)]="taskDue">
            
        </form>
        <div id="btncontainer">
            <button class="btn" (click)="generateTask()">Save</button>
            <button class="btn" (click)="closeTaskPage()">close</button>
        </div>
    </div>
</div>